<section class="bill-create-section">
  <form class="bill-val-frm">
    <input class="bill-val-frm-inp" type="text" name="pdt-name" placeholder="Product Name" (keyup)="selectProduct($event)">
    <input class="bill-val-frm-inp" type="text" name="pdt-id" placeholder="Product ID">
    <input class="bill-val-frm-inp" type="text" name="pdt-qty" placeholder="Quantity">
    <input class="bill-val-frm-btn" type="button" value="ADD">
  </form>
</section>
<section class="new-bill">
    <hr/>
    <table class="bill-list-tbl">
      <tr class="bill-list-item">
        <th class="bill-s-no">S.NO</th>
        <th class="bill-p-id">PRD ID</th>
        <th class="bill-p-name">PRD NAME</th>
        <th class="bill-qnty">QUANTITY</th>
        <th class="bill-price">PRICE</th>
        <th class="total">TOTAL</th>
      </tr>
    </table>
    <table class="final-bill-count">
      <tr>
        <td class="final-total">TOTAL</td>
        <td class="final-price">AMT</td>
      </tr>
    </table>
    <div class="payment-btn-holder">
        <button class="payment-btn">PAYMENT</button>
    </div>
</section>