header {
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    box-shadow: 1px 0.1px 5px 0.5px rgb(182, 182, 182);
}
.wrapper {
    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ham-menu-container {
    width: 50px;
    height: 70px;
    font-size: 20px;
    text-align: center;
	  color: #000000;
    line-height: 70px;
}
.header-sub{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alert{
    position: relative;
    font-size: 20px;
    color: #000000;
}
.alert-count {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #e05d5d;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    top: -5px;
    left: 85%;
    font-size: 14px;
}
.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #878787;
}


@media only screen and (max-width: 768px) {
  .logo-container{
  width: 100px;
}
.header-sub{
    width: 120px;
}
.profile {
    width: 30px;
    height: 30px;
}
.alert{
    font-size: 16px;
}
.alert-count {
    width: 12px;
    height: 12px;
    line-height: 12px;
    top: -2px;
    font-size: 12px;
}
}

@media only screen and (max-width: 500px) {
 .logo-container{
  width: 80px;
}
.header-sub{
    width: 80px;
}
.profile {
    width: 25px;
    height: 25px;
}
.alert{
    font-size: 14px;
}
.alert-count {
    width: 10px;
    height: 10px;
    line-height: 10px;
    top: 0px;
    font-size: 10px;
}
}