<div class="index-cont">
				<div class="new-bill-sec">
					<div class="date-sec">
            {{strDay}}&nbsp;&nbsp;{{strDate}}&nbsp;&nbsp;{{strTime}}
					</div>
					<button class="new-bill-btn"><i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;New Bill</button>
				</div>
        <hr style="margin:20px 0 20px 0;">
        <!-- <div class="start-img">
          <img src="https://sample-images.000webhostapp.com/images/home.png"  alt="">
        </div> -->
        <router-outlet></router-outlet>
</div>