p {
  font-family: Lato;
}
.main-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.menu-container{
  width: 300px;
  height: 100vh;
  position: fixed;
}
.content-box{
      margin-left: 300px;
}

@media only screen and (max-width: 1400px) {
  .menu-container{
  width: 250px;
}
.content-box{
      margin-left: 250px;
}
}

@media only screen and (max-width: 1200px) {
  .menu-container{
  width: 200px;
}
.content-box{
      margin-left: 200px;
}
}

@media only screen and (max-width: 900px) {
  .menu-container{
  width: 150px;
}
.content-box{
      margin-left: 150px;
}
}

@media only screen and (max-width: 768px) {
  .menu-container{
  width: 150px;
  left: -150px;
}
.content-box{
      margin-left: 0px;
}
.content-box{
  width: 100%;
}
}