<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b41317a54.js" crossorigin="anonymous"></script>
</head>
<body (window:resize)="onResize($event)">
  <div class="main-container">
    <div class="menu-container" id="menu-container" [style.height.px]="sidebarHeight">
      <app-side-menu></app-side-menu>
    </div>
    <div class="content-box" [style.width.px]="contentboxWidth">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>