<section class="side-bar">
  <div class="menu-container">
    <div class="options">Options</div>
  </div>
	<hr style="height: 1px;width: 90%;margin: auto;background-color: #ffffff;border: none">
	<div class="option-container">
		<ul>
			<li><i class="fas fa-file-invoice"></i><span class="option-items">Bill</span></li>
			<li><i class="fab fa-stack-exchange"></i><span class="option-items">Stack</span></li>
			<li><i class="fas fa-exchange-alt"></i><span class="option-items">Transactions</span></li>
			<li><i class="fas fa-user"></i><span class="option-items">Accounts</span></li>
		</ul>
	</div>
</section>