.side-bar {
    width: 100%;
    height: 100%;
    background-color: #0799FA;
    box-shadow: 0.2px -1px 5px 0.2px rgb(182, 182, 182);
}
.menu-container {
    width: 100%;
    height: 70px;
    display: flex;
    line-height: 69px;
}
.options {
    width: 70%;
    height: 70px;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
}
.ham-menu-container {
    width: 30%;
    height: 70px;
    font-size: 20px;
    text-align: center;
	color: #ffffff;
}
.option-items {
	margin-left: 20px;
}
.option-container ul{
	list-style-type: none;
}
.option-container ul li {
	height: 60px;
	color: #ffffff;
	line-height: 60px;
	padding-left: 20px;
}
.option-container ul li:hover {
	cursor: pointer;
	background-color: #76B8FA;
}